<!DOCTYPE html>
<html>

<head>
    <title>Total Price</title>
</head>

<body>
    <h3>
        Total Price
    </h3>
    <table>
        <tr>
            {{ query }}
        </tr>

    </table>

</body>

</html>