<!DOCTYPE html>
<html>

<head>
    <title>View by Author:</title>
</head>

<body>
    <h3>
        View by Author:
    </h3>
    <table border="1">
        <tr>
            {% for header in heading %}
            <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td> {{ cell }} </td>
            {% endfor %}
        </tr>

        {% endfor %}
        <!-- <tr>
            {{ total }}
        </tr> -->
        


    <!-- </table>
    <p> Total price is {{ total }}</p> -->
    <form  action="http://192.168.254.14:1050/getTotalPrice" method="get">
        <button type="submit" value="Submit"> Get Total </button>
    </form>

 

</body>

</html>