<!DOCTYPE html>
<html>

<head>
    <title>View by ID:</title>
</head>

<body>
    <h3>
        View by ID:
    </h3>
    <table border="1">
        <tr>
            {% for header in headings %}
            <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td> {{ cell }} </td>
            {% endfor %}
        </tr>

        {% endfor %}
    </table>

</body>

</html>